mixin image(url, position, type)
	if type && position
		img.image(src=url, class= `image_${type}` + " " + `image_${position}`)
	else if type
		img.image(src=url, class= `image_${type}`)
	else if position
		img.image(src=url, class= `image_${position}`)
	else
		img.image(src=url)