mixin image(url, position, type )
	if type && position
		.image(class= `image_${type}` + " " + `image_${position}`)
			img.image__img(src=url)
	else if type
		.image(class= `image_${type}`)
			img.image__img(src=url)
	else if position
		.image(class= `image_${position}`)
			img.image__img(src=url)
	else
		.image
			img.image__img(src=url)